# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# MongoDB
*.mongodb
*.mongo

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp

# Testing
coverage/

# Yarn logs
yarn-debug.log*
yarn-error.log* 
.vercel
